<div id="event-list">
  <div *ngFor="let geoEvent of geoEvents$ | async;">
    <div id="geo-event-{{ geoEvent.id }}" class="event-card">

      <img src="assets/location-pin.svg" />

      <div class="event-card-content">
        <div>
          {{ getTimePassed(geoEvent.timestamp) }} ago | <span>{{ formatDate(geoEvent.timestamp) }}</span> | <span>{{ getAddress(geoEvent) }}</span>
        </div>
        <div>
          {{ geoEvent.title.length < 50 ? geoEvent.title : geoEvent.title.substring(0, 50) + '...' }}
        </div>
      </div>

    </div>
  </div>
</div>
